/* Font-face */

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.eot');
  src: url('/fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('/fonts/Inter-SemiBold.woff') format('woff'),
    url('/fonts/Inter-SemiBold.ttf') format('truetype'),
    url('/fonts/Inter-SemiBold.svg#Inter-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.eot');
  src: url('/fonts/Inter-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Inter-Light.woff2') format('woff2'),
    url('/fonts/Inter-Light.woff') format('woff'),
    url('/fonts/Inter-Light.ttf') format('truetype'),
    url('/fonts/Inter-Light.svg#Inter-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.eot');
  src: url('/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.woff') format('woff'),
    url('/fonts/Inter-Regular.ttf') format('truetype'),
    url('/fonts/Inter-Regular.svg#Inter-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.eot');
  src: url('/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('/fonts/Gilroy-Regular.woff') format('woff'),
    url('/fonts/Gilroy-Regular.ttf') format('truetype'),
    url('/fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.eot');
  src: url('/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('/fonts/Gilroy-Medium.woff') format('woff'),
    url('/fonts/Gilroy-Medium.ttf') format('truetype'),
    url('/fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  width: auto;
  margin: 0;
  padding: 0;
  color: inherit;
  background: transparent;
  border: none;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
}

/* Theme */

:root {
  --color-black: #000000; 
  --color-white: #FFFFFF;
  --color-beige: #F5F2ED;
  --color-green01: #4DAB83;
  --color-green02: #71F2BA;
  --color-green03: #377A5D;
  --color-green04: #5AC396;
  --color-green05: #4FAA82;
}

/* Globals */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100% !important;
  height: 100%;
}

body {
  min-width: 100vw;
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-beige);
  color: var(--color-black);
  overflow-x: hidden;
}

button, a {
  cursor: pointer;
}

.no-scroll {
  overflow-y: hidden;
}

/* Theme */

.theme-light p, .theme-light a {
  color: var(--color-black);
}

.theme-dark p, .theme-dark a {
  color: var(--color-white);
}

.section-dark {
  position: relative;
  background-color: var(--color-black);
  color: var(--color-white);
  border-top: 1px solid var(--color-black);
}

.section-dark p, .section-dark a {
  color: var(--color-white) !important;
}

/* Typography */ 

.typography-01 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 95.52%;
  letter-spacing: 0.06em;
}

.typography-02 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.04em;
}

.typography-03 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 105%;
}

.typography-04 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 105%;
}

.typography-05 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 110%;
}

.typography-06 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.04em;
}

.typography-07 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.04em;
}

.typography-08 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.typography-09 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 105%;
}

.typography-10 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
}

.typography-11 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
}

@media screen and (max-width: 955px) {
  .typography-01 {
    font-size: 20px;
  }

  .typography-02 {
    font-size: 12px;
  }

  .typography-05 {
    font-size: 30px;
  }
  
  .typography-09 {
    font-size: 30px;
  }
}

.typography-05 .underline {
  height: 3px !important;
}

.typography-09 .underline {
  height: 2px !important;
}

@media screen and (max-width: 955px) {
  .typography-05 .underline {
    height: 2.5px !important;
  }

  .typography-09 .underline {
    height: 2px !important;
  }
}
/* Container */

.container-module-extra-extra-large {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;
}

.container-module-extra-large {
  width: 100%;
  max-width: 1444px;
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;
}

.container-module-large {
  width: 100%;
  max-width: 1335px;
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;
}

.container-module-medium {
  width: 100%;
  max-width: 1277px;
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;
}

.container-module-small {
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;
}

@media screen and (max-width: 955px) {
  .container-module-extra-extra-large {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container-module-extra-large {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container-module-large {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container-module-medium {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container-module-small {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.test {
  /* position: relative; */
}
.test::after {
  content: "";
  position: absolute;
  top: 50%; left: 50%;
  display: block;
  width: 110%;
  height: 110%;
  background-color: var(--color-beige);
  transform: translate3d(-50%, -50%, 0);
  z-index: -1;
}